footer.footer   
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(href='#') About   
        li: a(href='#') Download App   
        li: a(href='#') Member
        li: a(href='#') Carrer
        li: a(href='#') Contact
    p.footer__copyright &copy; by Henrique Augusto 