extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
            use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}


block content  
   main.main
    .user-view
        nav.user-view__menu
            ul.side-nav
                +navItem('/me', 'Settings', 'settings', true)
                +navItem('/my-bookings', 'My Bookings', 'briefcase')
                +navItem('/my-reviews', 'My reviews', 'star')

            - if (user.role === 'admin')
                .admin-nav
                    h5.admin-nav__heading Admin
                    ul.side-nav
                        +navItem('#', 'Manage tours', 'map')
                        +navItem('#', 'Manage users', 'users')
                        +navItem('#', 'Manage reviews', 'star')
                        +navItem('#', 'Manage bokkings', 'briefcase')

   

        - if (url === '/me')
            include _account-content

        - if (url === '/my-bookings')
            include _account-bookings
        
        - if (url === '/my-reviews')
            include _account-reviews